.inactive {
  width: 20px;
  background-color: rgb(214, 195, 195);
}

.active-green {
  width: 20px;
  background-color: rgb(42, 197, 25);
}

.active-red {
  width: 20px;
  background-color: rgb(219, 130, 93);
}

.active-blue {
  width: 20px;
  background-color: rgb(30, 105, 255);
}

.bars-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  align-items: flex-end;
}

nav {
  border: solid red;
  height: 185px;
}
