.inactive {
  width: 20px;
  background-color: lightgray;
}
.active-green {
  width: 20px;
  background-color: rgb(42, 197, 25);
}

.active-purple {
  width: 20px;
  background-color: rgb(167, 97, 243);
}

.active-red {
  width: 20px;
  background-color: rgb(219, 130, 93);
}

.active-blue {
  width: 20px;
  background-color: rgb(76, 136, 255);
}

.bars-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: center;
  align-items: flex-end;
  height: 640px;
}

#main {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: lightgray;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.left {
  position: relative;
  left: 20px;
}

.right {
  position: relative;
  left: 450px;
  background-color: #16ab18;
  color: white;
}

.button {
  border: none;
  padding: 7px 17px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.refresh {
  background-color: #d74e28;
  color: white;
}

.gen-array {
  background-color: #eaf371;
  color: black;
}

.inactive-button {
  background-color: #cac9c9;
  color: rgb(220, 220, 220);
}
